 @charset "euc-kr";
 

body {    
    font-family:"Nanum Gothic","³ª´®°íµñ","¸¼Àº°íµñ","malgun gothic","AppleGothic","µ¸¿ò","dotum",sans-serif;
    font-size: 13px;
    color: #333;
 }

/* input */

input[type=text], input[type=password]{
  font-family:"Nanum Gothic","³ª´®°íµñ","¸¼Àº°íµñ","malgun gothic","AppleGothic","µ¸¿ò","dotum",sans-serif;
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  color:#333333; 
  font-size:13px; 
  border:1px solid #cccccc; 
  vertical-align:middle;
}

.closeClass {
	width: 71px;
	padding: 0px;
	margin: 0px;
}

.openClass {
	width: 925px;
	height: 620px;
	padding: 0px;
	margin: 0px;
}

.fontNoLink {
	color: #a6a6a6;
}

img {border: 0 none;}

a,a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
    font-weight: bold;
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.moreClass {
	position: absolute;
	top: 12px;
	left: 132px;
	background-image: url('/fss/html/cm/images/btn_more.gif');
	width: 80px;
	height: 16px;
	cursor: pointer;
}

.ui-favor-top {
	position: absolute;
	background-image: url('/fss/html/cm/images/lnb_bg_top.gif');
	top: 0px;
	height: 10px;
	width: 190px;
}

.ui-favor-title {
	position: absolute;
	background-image: url('/fss/html/cm/images/lnb_bg_left.gif');
	background-repeat: repeat-y;
	top: 10px;
	height: 34px;
	width: 190px;
}

.ui-favor-content {
	position: absolute;
	background-image: url('/fss/html/cm/images/lnb_bg.gif');
	background-repeat: repeat-y;
	top: 44px;
	height: 576px;
	width: 190px;
	text-align:left;
	letter-spacing:-0.4px;
	line-height:14px;
}

.ui-favor-bottom {
	position: absolute;
	background-image: url('/fss/html/cm/images/lnb_bg_bottom.gif');
	top: 612px;
	height: 8px;
	width: 190px;
}

.ui-favor-icon-title {
	position: absolute;
	background-image: url("/fss/html/cm/images/lnb_title_Favorites.gif");
	background-position:center;
	top: 0px;
	left: 10px;
	height: 30px;
	width: 171px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.ui-favor-icon-left {
	position: absolute;
	background-image: url("/fss/html/cm/images/btn_left_close.gif");
	top: 0px;
	left: 190px;
	height: 44px;
	width: 16px;
	margin-top: 5px;
	cursor: pointer;
}

.ui-favor-icon-left_close {
	position: absolute;
	background-image: url("/fss/html/cm/images/btn_left.gif");
	top: 0px;
	left: 0px;
	height: 44px;
	width: 16px;
	margin-top: 5px;
	cursor: pointer;
}

#favor_views_div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 620px;
	padding: 0;
	margin-top: 5px;
}

#favor_div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 190px;
	height: 620px;
	margin-top: 5px;
}

#cat_bis {
	position: absolute;
	top: 5px;
	left: 0px;
	padding: 0;
	letter-spacing: 0;
	border: 0px;
}

#cat_area {
	position: absolute;
	top: 5px;
	left: 0px;
	padding: 0;
	letter-spacing: 0;
	border: 0px;
}

#cat_link {
	position: absolute;
	top: 1400px;
	left: 216px;
	width: 1000px;
	height: 157px;
	background-image: url('/fss/html/cm/images/bg_bottom_site.gif');
	padding: 0;
	letter-spacing: 0;
	border-width: 0px;
	font-size: 13px;
	/*line-height:16px;*/
	color: #576A88;
}

#cat_bis_content {
	position: absolute;
	width: 923px;
	top: 120px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border-width: 0px;
}
.cat_bis_content_tbl {
	width: 925px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border-width: 0px;
	/*border-color: #C1C9D4;
	border-top-style : none;
	border-left-style : solid;
	border-right-style : solid;
	border-bottom-style : none;*/
}
#cat_area_content {
	position: absolute;
	width: 923px;
	top: 120px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border-width: 0px;
}
.cat_area_content_tbl {
	width: 925px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border-width: 1px;
	/*border-color: #C1C9D4;
	border-top-style : none;
	border-left-style : solid;
	border-right-style : solid;
	border-bottom-style : none;*/
}

#cat_bis_content_close {
	position: absolute;
	width: 69px;
	top: 37px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border: 0px;
	border-width: 0px;
	cursor: hand;
}
.cat_bis_content_close_tbl {
	width: 71px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border: 0px;
	border-width: 1px;
	border-color: #C1C9D4;
	border-top-style : none;
	border-left-style : solid;
	border-right-style : solid;
	border-bottom-style : solid;
}

#cat_area_content_close {
	position: absolute;
	width: 69px;
	top: 37px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border: 0px;
	border-width: 0px;
	cursor: hand;
}
.cat_area_content_close_tbl {
	width: 71px;
	padding: 0;
	margin: 0px;
	letter-spacing: 0;
	border: 0px;
	border-width: 1px;
	border-color: #C1C9D4;
	border-top-style : none;
	border-left-style : solid;
	border-right-style : solid;
	border-bottom-style : solid;
}

img {
	vertical-align: middle;
	margin-bottom: 1px
}

.titlefontClass{
	font-size: 34px;
	color: #576A88;
}
.titlecloseClass {
	position: absolute;
	width: 71px;
	height: 54px;
	padding: 0px;
	margin: 0px;
	cursor: hand;
}

.titleopenClass {
	position: absolute;
	width: 925px;
	padding: 0px; 
	margin: 0px;
}
.cntnListClass{
	width: 925px;
	padding: 0px; 
	letter-spacing: 0;
	margin: 0px; 
	overflow: hidden;
}
.cntn_titl_td0{
	width: 14%;
	padding: 5px; 
	margin: 5px;
	font-size: 16px;
	font-weight:bold;
	border-top-width:3px;
	border-top-style:solid;
	border-left-width:1px;
	border-left-style:solid;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-style:none;
	background-color:#f5f5f5;
}
.cntn_titl_td1{
	width: 14%;
	padding: 5px; 
	margin: 5px;
	font-size: 16px;
	font-weight:bold;
	border-top-width:3px;
	border-top-style:solid;
	border-left-width:1px;
	border-left-style:solid;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-style:none;
	background-color:#f5f5f5;
}
.cntn_titl_td2{
	width: 88%;
	padding: 0px; 
	margin: 0px;
	border-top-width:3px;
	border-top-style:solid;
	border-left-style:none;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-right-width:1px;
	border-right-style:solid;
	border-color:#bdbdbd;
	background-color:#FFFFFF;
}
.cntn_tbl_dtl_class{
	width: 100%;
	border:0px;
	font-size: 13px;
	text-align:left;
	line-height:15px;
	vertical-align:center;
	background-color:#FFFFFF;
}
.cntn_bottom_tbl_open_line{
	width: 100%;
	padding: 0px; 
	margin: 0px;
	border: 0px;
}
.cntn_bottom_tbl_close_line{
	width: 925px;
	padding: 0px; 
	margin: 0px;
	border-top-width:1px;
	border-top-style:solid;
	border-color:#bdbdbd;
}

/* 2016³â 12¿ù 14ÀÏ ¼öÁ¤ */
.page-btn-area{
    text-align: right;
	padding:8px;
	font-family:"Nanum Gothic","³ª´®°íµñ","¸¼Àº°íµñ","malgun gothic","AppleGothic","µ¸¿ò","dotum",sans-serif;
}


/** button icon **/
button.system-search{background:url('../images/btn_ico_find.png') no-repeat 12px 50%;}
button.system-manage{background:url('../images/btn_ico_write.png') no-repeat 12px 50%;}
button.person-serach{background:url('../images/btn_ico_receipt.png') no-repeat 12px 50%;}
button.result{background:url('../images/btn_ico_list.png') no-repeat 12px 50%;}
button.hangul{background:url('../images/btn_ico_hangul.png') no-repeat 12px 50%;}
button.count{background:url('../images/btn_ico_count.png') no-repeat 12px 50%;}
button.old{background:url('../images/btn_ico_view.png') no-repeat 12px 50%; }
button.old-hide{background:url('../images/btn_ico_hide.png') no-repeat 12px 50%;}
button.unauth{background:url('../images/btn_ico_view.png') no-repeat 6px 50%;}
button.unauth-hide{background:url('../images/btn_ico_hide.png') no-repeat 6px 50%;}


/** °Ô½ÃÆÇ ÀÏ¹Ý ¹öÆ° **/
.Button {
  vertical-align:middle;
  margin-right:8px;
  font-family:"Nanum Gothic","³ª´®°íµñ","¸¼Àº°íµñ","malgun gothic","AppleGothic","µ¸¿ò","dotum",sans-serif;
}

.Button-small{/*ÅØ½ºÆ® ¹öÆ°*/
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: visible;
  text-align:right;
  padding: 0 8px 0 8px;
  vertical-align: middle;
  width:166px;
  line-height:24px;
  height:26px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
}


button.lightgray{
  background-color: #fbfbfb;
  border-top-color: #bdbdbd;
  border-left-color: #bdbdbd;
  border-right-color: #bdbdbd;
  border-bottom-color: #9b9b9b;
  color: #333333; 
  box-shadow:0 1px 0px rgba(255,255,255,.8) inset,0 1px 0px rgba(0,0,0,.1);  
}

button.lightgray:hover,button.lightgray:active{
border-color: #0184bf;
}

/* ÄÁÅÙÃ÷ Å¸ÀÌÆ² */
.content-sub-title{  
  width:100%;
  border-bottom:2px solid #0184bf; 
  padding:0 0 10px 0;
}

.content-sub-title span{
  font-size:20px; 
  font-weight:bold;
  color:#333333;  
  display: inline-block;
}

.right-title {
  background-color:#0184bf;
  font-weight:bold;
  color:#ffffff;
  padding:10px;
  text-align:center;
}
.right-list {
  font-size:13px;
  padding:3px;
  line-height:22px;
  letter-spacing:-0.5px;
}


/* ÇÏ´Ü°£°Ý */
.mbottom-6 {margin-bottom:6px;}
.mbottom-10 {margin-bottom:10px;}


/* »ó´Ü°£°Ý */
.mtop-6 {margin-top:6px;}
.mtop-10 {margin-top:10px;}

