@charset "euc-kr";

/************* ///////////////  업무시스템 메인 (넥사공통메인)  /////////////// *************/
/* basic */
.is-nexa-main * { 
    margin: 0;
}
.is-nexa-main {
    height: 806px;
}
/*tab*/
.is-nexa-main .is-tab-ui {
    height: 100%;
}
.is-nexa-main .is-tab-ui .is-tab{
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle{
    display: flex;
    width: 300px;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle:not(:first-of-type){
    border-radius: 0;
    margin-left: -1px;
}
.is-nexa-main .is-tab-ui .is-multi-toggle-btn{
    background-color: transparent;
    color: #4e4e4e;
    line-height: 40px;
    height: 40px;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    position: relative;
    background-color: #efefef;
    cursor: pointer;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle.current .is-multi-toggle-btn{
    background-color: #fff;
    color: #0080c6;
    position: relative;
    z-index: 2;
    border-top-color: #0080c6;
}
.is-nexa-main .is-tab-ui .is-tab-contain {
    height: calc(100% - 41px);
}
.is-nexa-main .is-tab-ui .is-tab-contents {
    display: none;
    padding: 15px 0;
    height: calc(100% - 30px);
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle.current .is-multi-toggle-btn::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    background-color: #fff;
}
.is-nexa-main .is-tab-ui .is-tab-contents.current{
    display: block;
}
/* tab contents */
.is-nexa-main .is-tab-contents .is-flex-wrap {
    display: flex;
    gap: 20px;
    height: 100%;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-lf-box {
    width: calc(100% - 400px - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-rt-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-box {
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-lf-box .is-box {
    height: 50vh;
    background-color: skyblue;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-box .is-conts-box {  
    overflow: auto;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-box .is-conts-box::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-box .is-conts-box::-webkit-scrollbar-thumb{
    background-color: #efefef; 
    border-radius: 10px;
}
.is-nexa-main .is-tab-contents .is-flex-wrap .is-box .is-conts-box::-webkit-scrollbar-track{
    background-color: #4e4e4e;
    border-radius: 10px;
}