@charset "euc-kr";

/************* ///////////////  업무시스템 메인 (넥사공통메인)  /////////////// *************/
/* basic */
.is-nexa-main * { 
    margin: 0;
}
/*tab*/
.is-nexa-main .is-tab-ui .is-tab{
    display: flex;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle{
    display: flex;
    width: 300px;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle:not(:first-of-type){
    border-radius: 0;
    margin-left: -1px;
}
.is-nexa-main .is-tab-ui .is-multi-toggle-btn{
    background-color: transparent;
    color: #4e4e4e;
    line-height: 40px;
    height: 40px;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    position: relative;
    background-color: #efefef;
    cursor: pointer;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle.current .is-multi-toggle-btn{
    background-color: #fff;
    color: #0080c6;
    position: relative;
    z-index: 2;
    border-top-color: #0080c6;
}
.is-tab-ui .is-tab-contents {
    display: none;
}
.is-nexa-main .is-tab-ui .is-tab .is-tab-multi-toggle.current .is-multi-toggle-btn::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    background-color: #fff;
}
.is-tab-ui .is-tab-contents.current{
    padding: 15px 0;
    display: block;
}