@charset "euc-kr";

/************* ///////////////  포탈 메인화면  /////////////// *************/
/*main-color : #26559f , #0080c6 , #d1e1f5*/
.is-main-contain * { 
    margin: 0;
}
.is-main-contain { 
    max-width: 1680px; 
    min-width: 1680px; 
    margin: 0 auto;
}
.is-main-contain ul li { 
    list-style: none;
}
.is-main-contain button { 
    border: 0 none;
    background-color: transparent; 
    padding: 0; 
    cursor: pointer;
}
.is-main-contain .is-fv-list ul { 
    padding-left: 0;
}
.is-main-contain > .is-inner { 
    position: relative; 
    display: flex; 
    gap: 0 40px; 
    align-items: flex-start;
    height: 2000px;
}
.is-main-contain > .is-inner .is-left-area { 
    width: calc(100% - 170px - 40px);
}

/* 퀵메뉴 */
.is-main-contain .is-quick-menu { 
    position: sticky; 
    top: 0; 
    width: 170px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box{ 
    background-color: #ffffff; 
    width: 100%;
    height: 400px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-top {
    background-color: #333333;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-top h3 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 18px 0;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body {
    border: 1px solid #7d7d7d;
    border-top: 0px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul {
    padding: 0;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li {
    border-bottom: 1px solid #7d7d7d;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li:last-child {
    border-bottom: 0;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a {
    display: block;
    padding: 15px 10px;
    color: #222222;
    text-align: center;
}


/* ISIS자주찾는 업무 시스템 */
.is-main-contain .is-contents-box { 
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.is-main-contain .is-fv-system {
    background: linear-gradient(90deg, rgba(192,222,242,1) 0%, rgba(209,225,245,1) 0%, rgba(232,216,255,1) 100%);
    display: flex;
    gap: 0 30px;
    padding: 30px 40px;
    position: relative;
}


.is-main-contain .is-fv-system .is-title-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.is-main-contain .is-fv-system .is-title-box .desc{
    font-size: 12px;
    color: #7d7d7d;
}
.is-main-contain .is-fv-system .is-title-box .is-title {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1.12;
}
.is-main-contain .is-fv-system .is-title-box .is-title span {
    color: #0080c6;
}
.is-main-contain .is-fv-system .is-title-box .is-pageview {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}
.is-main-contain .is-fv-system .is-title-box .is-pageview .num {
    display: flex;
    align-items: center;
    gap: 5px;
}
.is-main-contain .is-fv-system .is-title-box .is-pageview span {
    font-size: 14px;
    font-weight: 700;
}
.is-main-contain .is-fv-system .is-title-box .is-pageview .n1 {
    color: #0080c6;
}
.is-main-contain .is-fv-system .is-title-box .is-pageview .n2 {
    color: #7d7d7d;
}


.is-main-contain .is-fv-system .indicator {
    display: flex;
    align-items: center;
    gap: 15px;
}
.is-main-contain .is-fv-system .indicator .is-etc {
    display: block;
    width: 1px;
    height: 12px;
    position: relative;
}
.is-main-contain .is-fv-system .indicator .is-etc::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #7d7d7d;
    position: absolute;
    top: 0;
    left: 0;
}
.is-main-contain .is-fv-system .indicator .swiper-button-next, 
.is-main-contain .is-fv-system .indicator .swiper-button-prev {
    --swiper-navigation-size : 12px; 
    position: initial;
    top: auto;
    left: auto;
    right: auto;
}


.is-main-contain .is-fv-system .is-fv-list {
    width: calc(100% - 270px - 30px);
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a {
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid transparent;
    transition: 0.3s all;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a span {
    width: 100%;
    display: block;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: inherit;
    word-break: break-all;
    color: #222222;
    font-weight: 700;
    transition: 0.2s all;
    position: relative;
    padding-right: 15px;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a span::after{
    content: '>';
    display: block;
    color: #7d7d7d;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: 0.2s all;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a:hover {
    border-color: #0080c6;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a:hover span {
    color: #0080c6;
}

.is-main-contain .is-fv-system .is-fv-list .swiper-slide a:hover span::after {
    color: #0080c6;
}
 

/* 전체 업무시스템 */
.is-main-contain .is-all-system .is-title-box { 
    margin-top: 20px;    
}
.is-main-contain .is-all-system .is-title-box .is-inner {
    border-bottom: 1px solid #222222;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 0 10px; 
    padding-bottom: 13px;
}
.is-main-contain .is-all-system .is-title-box .is-title {
    font-size: 24px;
}
.is-main-contain .is-all-system .is-title-box .is-search-box { 
    display: flex; 
    align-items: center; 
    gap: 0 5px;
}
.is-main-contain .is-all-system .is-title-box .is-search-box input {
    width: 500px;
    height: 40px;
    padding: 0 10px;
}
.is-main-contain .is-all-system .is-title-box .is-search-box .is-btn {
    background-color: #222222;
    color: #ffffff;
    line-height: 40px;
    padding: 0 20px;
}

/* tab */
.is-main-contain .is-switch-box {
    background-color: #efefef;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 0 30px;
    padding: 12px 20px;
}
.is-main-contain .is-switch-box .is-form-wrap {
    display: flex;
    gap: 15px;
    align-items: center;
}
.is-main-contain .is-switch-box .is-form-wrap .is-title {
    font-size: 14px;
}
.is-tab-ui .is-tab{
    display: flex;
    padding: 0;
}
.is-tab-ui .is-tab-multi-toggle{
    display: flex;
}
.is-tab-ui .is-multi-toggle-btn{
    background-color: #fff;
    color: #222;
    border: 1px solid #7d7d7d;
    line-height: 34px;
    height: 34px;
    flex: 1;
    padding: 0 15px;
}
.is-tab-ui .is-tab-multi-toggle:not(:first-of-type) .is-multi-toggle-btn{
    margin-left: -1px;
}
.is-tab-ui .is-tab-multi-toggle:last-of-type .is-multi-toggle-btn{
    margin-left: -1px;
}
.is-tab-ui .is-tab-multi-toggle.current .is-multi-toggle-btn {
    color: #fff;
    background-color: #0080c6;
    position: relative;
    z-index: 2;
}
/*switch button */
.is-main-contain .is-switch-box label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
}
.is-main-contain .is-switch-box label span {
    color: #fff;
    position: absolute;
    padding-left: 35px;
    transition: 0.3s all;
}
.is-main-contain .is-switch-box .is-input[type="checkbox"] {
    appearance: none;
    position: relative;
    border-radius: 1.25em;
    width: 168px;
    height: 34px;
    background-color: #ccc;
    cursor: pointer;
}
.is-main-contain .is-switch-box .is-input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: left 250ms linear;
}
.is-main-contain .is-switch-box .is-input[type="checkbox"]:checked::before {
    background-color: white;
    left: calc(100% - 4px - 25px);
}  
.is-main-contain .is-switch-box .is-input[type="checkbox"]:checked {
    background-color: #0080c6;
    border-color: #0080c6;
}
.is-main-contain .is-switch-box .is-input[type="checkbox"]:checked + span {
    padding-left: 20px;
}
.is-main-contain .is-switch-box .is-input[type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}  
.is-main-contain .is-switch-box .is-input[type="checkbox"]:disabled:before {
    background-color: lightgray;
}  
.is-main-contain .is-switch-box .is-input[type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

/* 토글 */
.is-main-contain .is-toggle-box .is-title-bar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border: 1px solid #ccc; 
    background-color: #d1e1f5;
    font-size: 18px;
    cursor: pointer;
}
.is-main-contain .is-toggle-box .is-title-bar .is-title { 
    margin: 0;
    font-size: 16px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-arrow { 
    display: block;
}
.is-main-contain .is-toggle-box .is-toggle-contents { 
    display: none; 
}
.is-main-contain .is-toggle-box .is-toggle-contents .is-inner { 
    border: 1px solid #ccc; 
    border-top: 0;
    padding: 20px; 
}

.is-main-contain .is-toggle-box.current .is-title-bar .is-arrow {
    transform: rotate(-180deg);
}
.is-main-contain .is-toggle-box .is-list-box {
    padding-left: 0;
    display: flex;
    gap: 15px 10px;
    width: 100%;
    flex-wrap: wrap;
}
.is-main-contain .is-toggle-box .is-list-box li {
    width: calc(25% - 20px);
    position: relative;
    padding-left: 10px;
}
.is-main-contain .is-toggle-box .is-list-box li::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #222;
    position: absolute;
    top: 8px;
    left: 0;
}
.is-main-contain .is-toggle-box .is-list-box li a {
    color: #7d7d7d;
    font-weight: 700;
}
.is-main-contain .is-toggle-box .is-list-box li a:hover {
    color: #0080c6;
}

/************* ///////////////  시스템개요 조회 팝업  /////////////// *************/
.is-popup button {
    cursor: pointer;
}
.is-popup * {
    margin: 0;
}
.is-popup ul,.is-popup ul {
    list-style: none;
}
.is-popup .is-inner{
    min-width: 1200px;
    margin: 0 auto;
}
.is-popup .is-inner .is-title {
    background-color: #0080C6;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.is-popup .is-inner .is-title h2 {
    font-size: 20px;
    color: #ffffff;
}
.is-popup .is-inner .is-title .is-search-icon {
    position: absolute;
    top: 17px;
    right: 20px;
    background: URL('../images/is_ico_title.SVG')no-repeat center;
    width: 86px;
    height: 56px;
}

.is-popup .is-search-area {
    display: flex;
    align-items: center;
    gap: 20px;
}
.is-popup .is-search-area .is-tab-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle {
    height: 24px;
    line-height: 22px;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    color: #333;
}
.is-popup .is-search-area {
    background-color: #F0F0F0;
    height: 70px;
    padding: 0 20px;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle.current {
    color: #fff;
    background-color: #1E4178;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle.current::before {
    content: '';
    display: inline-block;
    background: url('../images/is_tab_check.svg')no-repeat center;
    width: 10px;
    height: 8px;
    margin-right: 5px;
}
.is-popup .is-search-area .is-desc {
    font-size: 13px;
    color: #777777;
    display: none;
}
.is-popup .is-search-area .is-desc.current {
    display: block;
}
.is-popup .is-search-area .is-search-input {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}
.is-popup .is-search-area .is-search-input .is-form-wrap {
    display: flex;
    align-items: center;
}
.is-popup .is-search-area .is-search-input .is-form-wrap input{
    width: 400px;
    height: 24px;
    border: 1px solid #ccc;
    border-right: 0px;
    color: #333;
    padding: 0 6px;
}
.is-popup .is-search-area .is-search-input .is-form-wrap input:focus {
    border: 0;

}
.is-popup .is-search-area .is-search-input .is-form-wrap input::placeholder {
    color: #ccc;
}
.is-popup .is-search-area .is-search-input .is-form-wrap .is-btn {
    width: 24px;
    height: 24px;
    background-color: #286ED6;
    background-image: url('../images/is_ico_preview.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 0;
}
.is-popup .is-search-area .is-search-input .is-search-btn {
    font-size: 13px;
    padding: 0 20px;
    height: 24px;
    line-height: 22px;
    background-color: #444444;
    color: #fff;
    border: 0;
}

.is-popup .is-tab-contents .is-conts-contain {
    display: none;
    padding: 0 20px;
}
.is-popup .is-tab-contents .is-conts-contain.current {
    display: block;
}

.is-popup .is-tab-contents .is-title-box {
    border-bottom: 1px solid #D2D2D2;
    padding: 30px 0 15px;
}
.is-popup .is-tab-contents .is-title-box h3 {
    font-size: 20px;
    color: #000;
}
.is-popup .is-section-box {
    display: flex;
    gap: 20px;
    padding: 15px 0 0;
}
.is-popup .is-section-box .is-col {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
}
.is-popup .is-section-box .is-col .is-col-inner {
    height: 100%;
}
.is-popup .is-section-box .is-lf-section {
    width: calc(100% - 20px - 400px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.is-popup .is-section-box .is-lf-section .is-col {
    height: 310px;
    position: relative;
    border: 1px solid #CBD6E1;
    padding: 30px 25px;
    box-sizing: border-box;
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type {
    background: linear-gradient(97.33deg, #D6F5FF -0.01%, #DDEBFF 99.99%);   
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type::before {
    content: '';
    display: block;
    background: url('../images/is_bg_system_l.svg')no-repeat center;
    width: 260px;
    height: 311px;
    position: absolute;
    top: 0;
    left: 0;
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type::after {
    content: '';
    display: block;
    background: url('../images/is_bg_system_r.svg')no-repeat center;
    width: 215px;
    height: 258px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.is-popup .is-section-box .is-lf-section .is-col:last-child {
    background-color: #E7EEF5;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 2;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title h3 {
    font-size: 30px;
    color: #333;
    position: relative;
}
.is-popup .is-section-box .is-lf-section .is-col:last-child .is-top-title h3 {
    font-size: 24px;
    font-weight: 500;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title .is-ico {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.is-popup .is-section-box .is-lf-section .is-col:first-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_system.svg');
}
.is-popup .is-section-box .is-lf-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_function.svg');
    width: 38px;
    height: 30px;
}
.is-popup .is-scroll {
    overflow: auto;
    padding-right: 10px;
    height: 100%;
}
.is-popup .is-scroll::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}
.is-popup .is-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}
.is-popup .is-scroll::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.is-popup .is-section-box .is-md-contsbox {
    margin-top: 15px;
    position: relative;
    z-index: 2;
    height: calc(100% - 15px - 48px);
}
.is-popup .is-section-box .is-md-contsbox.type-b {
    height: 120px;
    margin-top: 0;
    padding: 15px;
}
.is-popup .is-section-box .is-md-contsbox .is-desc {
    font-size: 15px;
    color: #333;
    line-height: 23px;
}
.is-popup .is-section-box .is-md-contsbox.type-c {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    height: calc(100% - 20px - 30px - 40px);
    background-image: url('../images/is_bg_function.svg');
    background-position: right 30px bottom 20px;
    background-repeat: no-repeat;
}

.is-popup .is-section-box .is-rt-section {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.is-popup .is-section-box .is-rt-section .is-col {
    width: 100%;
    height: 200px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.is-popup .is-section-box .is-rt-section .is-col:first-child {
    background: url('../images/is_bg_manager.svg')no-repeat right bottom;
}
.is-popup .is-section-box .is-rt-section .is-col:nth-child(2) {
    background: url('../images/is_bg_manager2.png')no-repeat right bottom;
}
.is-popup .is-section-box .is-rt-section .is-col:last-child {
    background: url('../images/is_bg_manager3.png')no-repeat right bottom;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title {
    background-color: #F3F3F3;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title h3 {
    font-size: 16px;
    color: #000;
    position: relative;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title .is-ico {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);
}
.is-popup .is-section-box .is-rt-section .is-col:first-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager.svg');
}
.is-popup .is-section-box .is-rt-section .is-col:nth-child(2) .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager2.svg');
}
.is-popup .is-section-box .is-rt-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager3.svg');
}

.is-popup .is-list-style {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 0;
}
.is-popup .is-list-style li {
    font-size: 13px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 8px;
}
.is-popup .is-list-style li::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.is-popup .is-list-style li span {
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.is-popup .is-list-style.type-b li {
    padding-left: 0;
}
.is-popup .is-list-style.type-b li::before {
    display: none;
}
.is-popup .is-list-style.type-b li a {
    color: #0000FF;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}
.is-popup .is-list-style.initial li {
    white-space: initial;
}

.is-popup .is-bottom-area {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.is-popup .is-bottom-area .is-close-btn {
    background-color: #7D8391;
    height: 24px;
    line-height: 22px;
    color: #fff;
    font-size: 13px;
    padding: 0 20px;
    border: 0;
}

.is-popup .is-none-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.is-popup .is-none-box .is-ico {
    display: block;
    background: url('../images/is_ico_info.svg')no-repeat center;
    width: 30px;
    height: 30px;
}
.is-popup .is-none-box .is-desc {
    font-size: 13px;
    color: #333;
}

/***  키워드 찾기 ***/
.is-popup .keyword .is-contain-inner{
    display: flex;
    gap: 20px;
}
.is-popup .keyword .is-conts.lf {
    width: calc(100% - 285px - 20px);
}

.is-popup .keyword .is-conts.lf .is-section-box .is-lf-section {
    width: calc(100% - 295px - 20px);
}
.is-popup .keyword .is-conts.lf .is-section-box .is-rt-section {
    width: 295px;
}
.is-popup .keyword .is-conts.rt .is-rt-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager4.svg');
}
.is-popup .keyword .is-conts.rt {
    width: 285px;
}
.is-popup .keyword .is-conts.rt .is-title-box {
    border-bottom: 0;
}
.is-popup .keyword .is-conts.rt .is-section-box {
    /*height: calc(100% - 69px - 15px);*/
    height: 655px;
    box-sizing: border-box;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section {
    width: 100%;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section .is-col {
    height: 100%;
    background-image: none;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section .is-md-contsbox.type-b{
    height: calc(100% - 50px - 15px - 15px);
}


.is-popup .is-tree {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}
.is-popup .is-tree > li {
    position: relative;
    font-size: 13px;
    color: #333;
    padding-bottom: 10px;
}
.is-popup .is-tree > li:not(:last-child) {
    border-bottom: 1px solid #EFEFEF;
}
.is-popup .is-tree > li > a {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    padding-left: 20px;
    display: block;
}
.is-popup .is-tree > li > a::before {
    content: '';
    display: block;
    background: url('../images/is_toggle_m.svg')no-repeat center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s all;
}
.is-popup .is-tree > li.toggle > a::before {
    background-image: url('../images/is_toggle_p.svg');
}
.is-popup .is-subtree {
    padding: 10px 0 0;
}
.is-popup .is-subtree li a {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    position: relative;
    padding-left: 20px;
    display: block;
}
.is-popup .is-subtree li a::before {
    content: '';
    display: block;
    background: url('../images/is_ico_tree.svg')no-repeat center;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 8px;
}