@charset "euc-kr";

/************* ///////////////  포탈 메인화면  /////////////// *************/

/* basic */
.is-main-contain { 
    max-width: 1680px; 
    min-width: 1680px; 
    margin: 0 auto;
}
.is-main-contain ul li { 
    list-style: none;
}
.is-main-contain button { 
    border: 0 none;
    background-color: transparent; 
    padding: 0; 
    cursor: pointer;
}
.is-main-contain .is-fv-list ul { 
    padding-left: 0;
}
.is-main-contain > .is-inner { 
    position: relative; 
    display: flex; 
    gap: 0 10px; 
    align-items: flex-start;
    height: 2000px;
}
.is-main-contain > .is-inner .is-left-area { 
    width: calc(100% - 250px - 10px);
}

/* 퀵메뉴 */
.is-quick-menu { 
    position: sticky; 
    top: 0; 
    width: 250px;
}
.is-quick-menu .is-qu-menu-box{ 
    background-color: pink; 
    width: 250px;
    height: 400px;
}

/* 최근 자주 사용한 업무 시스템 */
.is-title-box .is-title { 
    margin: 0;
}

.is-contents-box { 
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.is-contents-box .is-fv-list { 
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.is-contents-box .is-fv-list ul { 
    width: 100%;
}
.is-contents-box .is-fv-list ul::after { 
    content: ''; 
    clear: both;
}
.is-contents-box .is-fv-list ul li { 
    float: left; 
    width: calc(25% - 20px); 
    text-align: center; 
    padding: 5px 10px;
}

/* 전체 업무시스템 */
.is-all-system .is-title-box { 
    display: flex;
    align-items: center; 
    gap: 0 10px; 
    margin-top: 15px;
}
.is-all-system .is-title-box .is-search-box { 
    display: flex; 
    align-items: center; 
    gap: 0 5px;
}

/*switch button */
.is-switch-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.is-switch-button {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 22px;
}
.is-switch-button .is-input{
    opacity: 0;
    width: 0;
    height: 0;
}
.is-switch-button .is-onoff-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:20px;
    background-color: #efefef;
    -webkit-transition: .4s;
    transition: .4s;
    padding-left: 26px;
}
.is-switch-button .is-onoff-switch::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius:20px;
}
.is-switch-button .is-input:checked + .is-onoff-switch {
    background-color: pink;
    padding-left: 12px;
    padding-right: 26px;
}
.is-switch-button .is-input:checked + .is-onoff-switch::before {
    -webkit-transform: translateX(85px);
    -ms-transform: translateX(85px);
    transform: translateX(85px);
}
.is-switch-button .is-input:disabled .is-onoff-switch,
.is-switch-button .is-input.disabled .is-onoff-switch,
.is-switch-button .is-input:read-only .is-onoff-switch  {
    cursor: default;
    background-color: #ccc;
}

/* 토글 */
.is-toggle-box {

}
.is-toggle-box .is-title-bar { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border: 1px solid #ccc; 
    background-color: #efefef;
}
.is-toggle-box .is-title-bar .is-title { 
    margin: 0;
}
.is-toggle-box .is-title-bar .is-arrow { 
    display: block;
}
.is-toggle-box .is-toggle-contents { 
    display: none; 
}
.is-toggle-box .is-toggle-contents .is-inner { 
    border: 1px solid #ccc; 
    padding: 10px; 
}

.is-toggle-box.current .is-title-bar .is-arrow {
    transform: rotate(-180deg);
}



/************* ///////////////  업무시스템 메인 (넥사공통메인)  /////////////// *************/