 @charset "euc-kr";


body,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select
	{
	margin: 0;
	padding: 0;
}
body,textarea,button,table {
	font-size: 1em; : µ¸¿ò ,dotum,'Malgun Gothic',sans-serif;
	font-size: 75%;
	line-height: 1.2;
}
form {margin:0; padding:0;}
p, ul, ol, li, dl, dt, dd, form {list-style-image:none; list-style-position:outside; list-style-type:none; border:0px; margin:0px; padding:0px;}

li img,th img, td img, input.inp, input.g_inp, input, label {vertical-align:middle; }
img {border:0 none;}

input {
	color: #000;
	font-size: 1em;
	line-height: 20px;
	vertical-align: middle;
	border: 1px solid #a7a8aa;
	height: 18px;
	padding-left: 2px;
	font-family: µ¸¿ò, dotum, 'Malgun Gothic', sans-serif;
}

/* login */
.loginBox{width:1280px; height:690px; margin:0px auto 0 auto; background:url(/fss/html/cm/images/log_bg.gif) no-repeat 150px 115px;position:relative;}

.loginBox ul{ position:absolute; left:685px; top:360px; height:30px;}
.loginBox ul li{height:25px;}
.loginBox ul li.btn{position:absolute; left:190px; top:0;}
.loginBox ul li.findPwdBtn{position:absolute; left:190px; top:50;}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* popup*/

#pop_wrap {
	width: 100%; 
}

#pop_wrap img, {
	border: none
}

#pop_wrap h1 {
	height: 41px;
	background: url(/fss/html/cm/images/popup_title_bg.gif) repeat-x top;
	position: relative;
	color: #1961a5;
	font-size: 1.3em;
	
}
.pop_contitle {
	padding: 11px 0px 0px 35px;
	background:url(/fss/html/cm/images/icon_popup_title.gif) no-repeat 9px 12px;}

#pop_notice_wrap {
	width: 289px; 
	height: 27px;
}

#pop_notice_wrap img, {
	border: none
}
.pop_notice_pwd {
	background:url(/fss/html/cm/images/title_notice_pwd.jpg) 300px 27px;}
	
#pop_content {
	padding: 10px 18px 10px 18px; float: center;}
.pop_content ul{position: absolute;}
.pop_content li{ padding: 15px 18px 0 0px; text-align: left;}
.pop_content li .input{float: right;border:1px solid #cbced1;}

	
/* btnarea */
.btnarea {
	text-align: center;
	margin-top: 12px;
}