@charset "UTF-8";

/************* ///////////////  포탈 메인화면  /////////////// *************/
/*main-color : #26559f , #0080c6 , #d1e1f5*/
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'), local('NotoSans-Light'),
		url("../font/NotoSansKr-Light.eot"),
		url("../font/NotoSansKr-Light.woff") format('woff'),
		url("../font/NotoSansKr-Light.otf") format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'),
		url("../font/NotoSansKr-Regular.eot"),
		url("../font/NotoSansKr-Regular.woff") format('woff'),
		url("../font/NotoSansKr-Regular.otf") format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'),
		url("../font/NotoSansKr-Medium.eot"),
		url("../font/NotoSansKr-Medium.woff") format('woff'),
		url("../font/NotoSansKr-Medium.otf") format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
		url("../font/NotoSansKr-Bold.eot"),
		url("../font/NotoSansKr-Bold.woff") format('woff'),
		url("../font/NotoSansKr-Bold.otf") format('opentype');
}
input[type=text], input[type=password]{
    font-family:'Noto Sans KR',"Nanum Gothic","나눔고딕","맑은고딕","malgun gothic","AppleGothic","돋움","dotum",sans-serif;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    color:#333333; 
    font-size:13px; 
    border:1px solid #cccccc; 
    vertical-align:middle;
}
a {
    text-decoration: none;
}
.is-main-contain * { 
    font-family:'Noto Sans KR',"Nanum Gothic","나눔고딕","맑은고딕","malgun gothic","AppleGothic","돋움","dotum",sans-serif;
    font-size: 13px;
    color: #333;
    margin: 0;
    line-height: 1.12;
    letter-spacing: -0.5px;    
}
.is-main-contain { 
    max-width: 1580px; 
    min-width: 1580px; 
    margin: 0 auto;
}
.is-main-contain ul li { 
    list-style: none;
}
.is-main-contain button { 
    border: 0 none;
    background-color: transparent; 
    padding: 0; 
    cursor: pointer;
}
.is-main-contain .is-fv-list ul { 
    padding-left: 0;
}
.is-main-contain > .is-inner { 
    position: relative; 
    display: flex; 
    /* gap: 0 40px;  */
    align-items: flex-start;
}
.is-main-contain > .is-inner .is-left-area { 
    width: calc(100% - 120px - 40px);
}

/* 퀵메뉴 */
.is-main-contain .is-quick-menu { 
    position: relative; 
    top: 0; 
    width: 120px;
    margin-left: auto;
}
.is-main-contain .is-quick-menu.fixed .is-qu-menu-box {
    position: fixed;
    top: 0;
    width: 120px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box{ 
    background-color: #ffffff; 
    width: 120px;
    border: 1px solid #E3E3E3;
    box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.07);
    transition: 0.3s all;
    box-sizing: border-box;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-top {
    background-color: #444;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-top h3 {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 57px;
    height: 57px;
    box-sizing: border-box;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body {
    border-top: 0px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul {
    padding: 0;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li {
    border-bottom: 1px solid #E3E3E3;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li:last-child {
    border-bottom: 0;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*gap: 10px;*/
    padding: 20px 9px;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a .is-ico {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a .is-ico.ico01 {
    background-image: url('../images/is_main_quick_ico01.svg');
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a .is-ico.ico02 {
    background-image: url('../images/is_main_quick_ico02.svg');
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a .is-ico.ico03 {
    background-image: url('../images/is_main_quick_ico03.svg');
}
.is-main-contain .is-quick-menu .is-qu-menu-box .is-body ul li a p{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    color: #333;
    text-align: center;
    margin-top: 10px;
}


/* ISIS자주찾는 업무 시스템 */
.is-main-contain .is-fv-system {
    background: linear-gradient(270.72deg, #D2EDFC 0%, #E5EEF3 100%);
    display: flex;
    /* gap: 0 30px; */
    padding: 39px 40px;
    position: relative;
}


.is-main-contain .is-fv-system .is-title-box {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    width: 225px;
}
.is-main-contain .is-fv-system .is-title-box .desc{
    font-size: 13px;
    font-weight: 400;
    color: #8A9DA7;
}
.is-main-contain .is-fv-system .is-title-box .is-title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1;
    margin-top: 10px;
}
.is-main-contain .is-fv-system .is-title-box .is-title em {
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
}
.is-main-contain .is-fv-system .is-title-box .is-title span {
    font-size: 22px;
    line-height: 1;
    color: #0080c6;
}

.is-main-contain .is-fv-system .is-indicator {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.is-main-contain .is-fv-system .is-indicator .swiper-pagination {
    position: inherit;
    width: auto;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.is-main-contain .is-fv-system .is-indicator .swiper-pagination span {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.is-main-contain .is-fv-system .is-indicator .swiper-pagination span:last-child {
    padding-right: 0;
}
.is-main-contain .is-fv-system .is-indicator .swiper-pagination .swiper-pagination-current {
    font-weight: 700;
    color: #0080C6;
}
.is-main-contain .is-fv-system .is-indicator .swiper-pagination .line {
    font-style: normal;
    display: block;
    width: 12px;
    height: 1px;
    background-color: #999;
    margin: 0 8px;
}
.is-main-contain .is-fv-system .is-indicator .is-etc {
    display: block;
    width: 1px;
    height: 12px;
    position: relative;
    margin: 0 6px;
}
.is-main-contain .is-fv-system .is-indicator .is-etc::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
}
.is-main-contain .is-fv-system .is-indicator .is-button-box {
    display: flex;
    align-items: center;
    /*gap: 12px;*/
}
.is-main-contain .is-fv-system .swiper-button-prev {
    background-image: url('../images/is_main_swiper_arrow_right.svg');
    background-size: 8px;
    transform: rotate(-180deg);
}
.is-main-contain .is-fv-system .swiper-button-next {
    background-image: url('../images/is_main_swiper_arrow_right.svg');
    background-size: 8px;
}
.is-main-contain .is-fv-system .swiper-button-prev.swiper-button-disabled {
    background-image: url('../images/is_main_swiper_arrow_right_disabled.svg');
    transform: rotate(-180deg);
}
.is-main-contain .is-fv-system .swiper-button-next.swiper-button-disabled {
    background-image: url('../images/is_main_swiper_arrow_right_disabled.svg');
}

.is-main-contain .is-fv-system .is-indicator .swiper-button-next, 
.is-main-contain .is-fv-system .is-indicator .swiper-button-prev {
    --swiper-navigation-size : 12px; 
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 24px;
    height: 24px;
    margin: 0 6px;
}
.is-main-contain .is-fv-system .is-indicator .swiper-button-prev {
    margin-left: 0;
}
.is-main-contain .is-fv-system .is-indicator .swiper-button-next {
    margin-right: 0;
}


.is-main-contain .is-fv-system .is-fv-list {
    width: calc(100% - 225px - 30px);
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a {
    display: flex;
    align-items: center;
    padding: 0 20px 0 15px;
    height: 65px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid transparent;
    transition: 0.3s all;
    box-sizing: border-box;
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a span {
    width: 100%;
    display: block;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
    word-break: break-all;
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    transition: 0.2s all;
    position: relative;
    padding-right: 15px;
    line-height: 1.2em;
    max-height: 2.4em; /* 두 줄 */
}
.is-main-contain .is-fv-system .is-fv-list .swiper-slide a span::after{
    content: '';
    display: block;
    background: url('../images/is_main_arrow_r.svg')no-repeat center;
    width: 7px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: 0.2s all;
}


/* 전체 업무시스템 */
.is-main-contain .is-all-system { 
    margin-top: 40px;    
}
.is-main-contain .is-all-system .is-title-box .is-inner {
    border-bottom: 1px solid #222222;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* gap: 0 10px;  */
    padding-bottom: 15px;
}
.is-main-contain .is-all-system .is-title-box .is-title {
    font-size: 24px;
    color: #000;
}
.is-main-contain .is-all-system .is-title-box .is-search-box { 
    display: flex; 
    align-items: center; 
    /* gap: 0 5px; */
}
.is-main-contain .is-all-system .is-title-box .is-search-box input {
    width: 500px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.is-main-contain .is-all-system .is-title-box .is-search-box input:-ms-input-placeholder {
    color: #ccc;
}
.is-main-contain .is-all-system .is-title-box .is-search-box .is-btn {
    background-color: #222222;
    color: #ffffff;
    line-height: 40px;
    padding: 0 15px;
}

/* tab */
.is-main-contain .is-switch-box {
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    /* gap: 0 40px; */
    padding: 14px 30px;
}
.is-main-contain .is-switch-box .is-form-wrap {
    padding: 0 20px;
    display: flex;
    /* gap: 10px; */
    align-items: center;
}
.is-main-contain .is-switch-box .is-form-wrap:first-child {
    padding-left: 0;
}
.is-main-contain .is-switch-box .is-form-wrap:last-child {
    padding-right: 0;
}
.is-main-contain .is-switch-box .is-form-wrap .is-title {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding-right: 18px;
}
.is-tab-ui .is-tab{
    display: flex;
    padding: 0;
}
.is-tab-ui .is-tab-multi-toggle{
    display: block;
}
.is-tab-ui .is-multi-toggle-btn{
    background-color: #fff;
    color: #666666;
    border: 1px solid #CFCFCF;
    line-height: 30px;
    height: 32px;
    flex: 1;
    padding: 0 20px;
}
.is-tab-ui .is-tab-multi-toggle:not(:first-of-type) .is-multi-toggle-btn{
    margin-left: -1px;
}
.is-tab-ui .is-tab-multi-toggle:last-of-type .is-multi-toggle-btn{
    margin-left: -1px;
}
.is-tab-ui .is-tab-multi-toggle.current .is-multi-toggle-btn {
    color: #fff;
    background-color: #0080c6;
    position: relative;
    z-index: 2;
}
/*switch button */
.is-main-contain .is-switch-box .label-box {
    display: inline-flex;
    align-items: center;
    /* gap: 0.5rem; */
    position: relative;
}
.is-main-contain .is-switch-box .label-box .is-input[type="checkbox"] {
    appearance: none;
    display: none;
}
.is-main-contain .is-switch-box .label-box label {
    background-color: #C6C9D1;
    border-radius: 1.25em;
    padding: 0 15px 0 4px;
    font-size: 13px;
    color: #fff;
    transition: 0.3s all;
    line-height: 30px;
    padding-left: 35px;
    cursor: pointer;
}
.is-main-contain .is-switch-box .label-box label::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: left 250ms linear;
    transition: 0.3s all;
}
.is-main-contain .is-switch-box .label-box .is-input[type="checkbox"]:checked + label {
    background-color: #0080c6;
    border-color: #0080c6;
    padding-left: 15px;
    padding-right: 35px;
}  
.is-main-contain .is-switch-box .label-box .is-input[type="checkbox"]:checked + label::before{
    left: 81%;
    /* left: calc(100% - 30px); // 사용시 애니메이션 효과 안나옴 */
}
.is-main-contain .is-switch-box .label-box .is-input[type="checkbox"]:disabled label {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}  
.is-main-contain .is-switch-box .label-box .is-input[type="checkbox"]:disabled + label::before {
    opacity: 0.7;
    cursor: not-allowed;
}

/* 토글 */
.is-main-contain .is-contents-box { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}
.is-main-contain .is-contents-box .is-contents-item {
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    margin-top: 20px;
}
.is-main-contain .is-toggle-box:not(:first-child) {
    margin-top: 15px;
}
.is-main-contain .is-toggle-box .is-title-bar { 
    display: flex; 
    align-items: center; 
    /* gap: 10px; */
    padding: 10px 20px; 
    border: 1px solid #96C7E1;
    background-color: #C1E4F6;
    font-size: 18px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-drop-btns {
    display: flex;
    flex-direction: column;
    /* gap: 0; */
    margin-right: 10px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-drop-btns .is-btn {
    border: 1px solid #888888;
    width: 20px;
    height: 15px;
    background-color: #fff;
    background-position: center 4px;
    background-repeat: no-repeat;
}
.is-main-contain .is-toggle-box .is-title-bar .is-drop-btns .is-btn:not(:first-child) {
    margin-top: -1px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-drop-btns .is-btn.up {
    background-image: url('../images/is_main_btn_up.svg');
}
.is-main-contain .is-toggle-box .is-title-bar .is-drop-btns .is-btn.down {
    background-image: url('../images/is_main_btn_down.svg');
    background-position: center 5px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-title { 
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 500;
    letter-spacing: -1px;
}
.is-main-contain .is-toggle-box .is-title-bar .is-arrow { 
    display: block;
    margin-left: auto;
    width: 26px;
    height: 26px;
    border: 1px solid #000;
    background-image: url('../images/is_main_arrow_up.svg');
    background-position: center 7px;
    background-repeat: no-repeat;    
    transform: rotate(-180deg);
}
.is-main-contain .is-toggle-box .is-toggle-contents { 
    display: none; 
}
.is-main-contain .is-toggle-box .is-toggle-contents .is-inner { 
    border: 1px solid #ccc; 
    border-top: 0;
    padding: 12.5px 20px; 
}

.is-main-contain .is-toggle-box.current .is-title-bar .is-arrow {
    transform: rotate(0);
}
.is-main-contain .is-toggle-box .is-list-box {
    padding-left: 0;
    display: flex;
    /* gap: 15px 10px; */
    width: 100%;
    flex-wrap: wrap;
}
.is-main-contain .is-toggle-box .is-list-box li {
    width: calc(25% - 20px);
    position: relative;
    padding: 7.5px 5px;
}
.is-main-contain .is-toggle-box .is-list-box li::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #666;
    position: absolute;
    top: 16px;
    left: 0;
}
.is-main-contain .is-toggle-box .is-list-box li a {
    font-size: 16px;
    color: #999;
    font-weight: 500;
    display: flex;
    letter-spacing: -1px;
}
.is-main-contain .is-toggle-box .is-list-box li a span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #999;
    line-height: 20px;
    max-width: calc(100% - 19px - 18px);
    padding-left: 6px;
}
.is-main-contain .is-toggle-box .is-list-box li a::after {
    content: '';
    display: inline-block;
    background: url('../images/is_main_open.svg')no-repeat center;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    margin-top: 3px;
}
.is-main-contain .is-toggle-box .is-list-box li a:hover {
    /*color: #0080c6;*/
    font-weight: 700;
}
/* 시스템 권한이 있을때 */
.is-main-contain .is-toggle-box .is-list-box li.authority a {
    color: #0080C6;
    padding-left: 18px;
    position: relative;
}
.is-main-contain .is-toggle-box .is-list-box li.authority::after {
    content: '';
    display: block;
    background: url('../images/is_main_label.svg')no-repeat center;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 9px;
    left: 8px;
}
/* 검색어 입력시 하이라이트 */
.is-main-contain .is-toggle-box .is-list-box li .highlight {
    display: inline-block;
    background-color: #B4FAFF;
    width: auto;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    color: #999;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

/************* ///////////////  시스템개요 조회 팝업  /////////////// *************/
.is-popup button {
    cursor: pointer;
}
.is-popup * {font-family:'Noto Sans KR',"Nanum Gothic","나눔고딕","맑은고딕","malgun gothic","AppleGothic","돋움","dotum",sans-serif;
    font-size: 13px;
    color: #333;
    margin: 0;
    line-height: 1.12;
    letter-spacing: -0.5px; 
}
.is-popup ul,.is-popup ul {
    list-style: none;
}
.is-popup .is-inner{
    min-width: 1200px;
    margin: 0 auto;
}
.is-popup .is-inner .is-title {
    background-color: #0080C6;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.is-popup .is-inner .is-title h2 {
    font-size: 20px;
    color: #ffffff;
}
.is-popup .is-inner .is-title .is-search-icon {
    position: absolute;
    top: 17px;
    right: 20px;
    background: URL('../images/is_ico_title.SVG')no-repeat center;
    width: 86px;
    height: 56px;
}

.is-popup .is-search-area {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    background-color: #F0F0F0;
    height: 70px;
    padding: 0 20px;
}
.is-popup .is-search-area .is-tab-btn {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    max-width: 250px;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle {
    height: 24px;
    line-height: 22px;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #333;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle:not(:last-child) {
    margin-right: 10px;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle.current {
    color: #fff;
    background-color: #1E4178;
}
.is-popup .is-search-area .is-tab-btn .is-multi-toggle.current::before {
    content: '';
    display: inline-block;
    background: url('../images/is_tab_check.svg')no-repeat center;
    width: 10px;
    height: 8px;
    margin-right: 5px;
}
.is-popup .is-search-area .is-desc {
    font-size: 13px;
    color: #777777;
    letter-spacing: -1px;
    display: none;
    max-width: calc(100% - 250px - 495px - 40px);
    padding-left: 20px;
}
.is-popup .is-search-area .is-desc.current {
    display: block;
}
.is-popup .is-search-area .is-search-input {
    margin-left: auto;
    display: flex;
    align-items: center;
    /* gap: 5px; */
}
.is-popup .is-search-area .is-search-input .is-form-wrap {
    display: flex;
    align-items: center;
}
.is-popup .is-search-area .is-search-input .is-form-wrap input{
    width: 400px;
    height: 24px;
    border: 1px solid #ccc;
    border-right: 0px;
    color: #333;
    padding: 0 6px;
    line-height: 24px;
}
.is-popup .is-search-area .is-search-input .is-form-wrap input:focus {
    border: 0;

}
.is-popup .is-search-area .is-search-input .is-form-wrap input:-ms-input-placeholder {
    color: #ccc;
    line-height: 22px;
}
.is-popup .is-search-area .is-search-input .is-form-wrap .is-btn {
    width: 24px;
    height: 24px;
    background-color: #286ED6;
    background-image: url('../images/is_ico_preview.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 0;
}
.is-popup .is-search-area .is-search-input .is-search-btn {
    font-size: 13px;
    padding: 0 20px;
    height: 24px;
    line-height: 22px;
    background-color: #444444;
    color: #fff;
    border: 0;
    margin-left: 5px;
}

.is-popup .is-tab-contents .is-conts-contain {
    display: none;
    padding: 0 20px;
}
.is-popup .is-tab-contents .is-conts-contain.current {
    display: block;
}

.is-popup .is-tab-contents .is-title-box {
    border-bottom: 1px solid #D2D2D2;
    padding: 30px 0 15px;
}
.is-popup .is-tab-contents .is-title-box h3 {
    font-size: 20px;
    color: #000;
}
.is-popup .is-section-box {
    display: flex;
    /* gap: 20px; */
    padding: 15px 0 0;
}
.is-popup .is-section-box .is-col {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
}
.is-popup .is-section-box .is-col .is-col-inner {
    height: 100%;
}
.is-popup .is-section-box .is-lf-section {
    margin-right: 20px;
    width: calc(100% - 20px - 400px);
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.is-popup .is-section-box .is-lf-section .is-col {
    height: 310px;
    position: relative;
    border: 1px solid #CBD6E1;
    padding: 30px 25px;
    box-sizing: border-box;
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type {
    background: linear-gradient(97.33deg, #D6F5FF -0.01%, #DDEBFF 99.99%);
    margin-bottom: 20px;
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type::before {
    content: '';
    display: block;
    background: url('../images/is_bg_system_l.svg')no-repeat center;
    width: 260px;
    height: 311px;
    position: absolute;
    top: 0;
    left: 0;
}
.is-popup .is-section-box .is-lf-section .is-col:first-of-type::after {
    content: '';
    display: block;
    background: url('../images/is_bg_system_r.svg')no-repeat center;
    width: 215px;
    height: 258px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.is-popup .is-section-box .is-lf-section .is-col:last-child {
    background-color: #E7EEF5;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    position: relative;
    z-index: 2;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title h3 {
    font-size: 30px;
    color: #333;
    position: relative;
}
.is-popup .is-section-box .is-lf-section .is-col:last-child .is-top-title h3 {
    font-size: 24px;
    font-weight: 500;
}
.is-popup .is-section-box .is-lf-section .is-col .is-top-title .is-ico {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.is-popup .is-section-box .is-lf-section .is-col:first-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_system.svg');
}
.is-popup .is-section-box .is-lf-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_function.svg');
    width: 38px;
    height: 30px;
}
.is-popup .is-scroll {
    overflow: auto;
    padding-right: 10px;
    height: 100%;
}
.is-popup .is-scroll::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}
.is-popup .is-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}
.is-popup .is-scroll::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.is-popup .is-section-box .is-md-contsbox {
    margin-top: 15px;
    position: relative;
    z-index: 2;
    height: calc(100% - 15px - 48px);
}
.is-popup .is-section-box .is-md-contsbox.type-b {
    height: 120px;
    margin-top: 0;
    padding: 15px;
}
.is-popup .is-section-box .is-md-contsbox .is-desc {
    font-size: 15px;
    color: #333;
    line-height: 23px;
}
.is-popup .is-section-box .is-md-contsbox.type-c {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    height: calc(100% - 20px - 30px - 40px);
    background-image: url('../images/is_bg_function.svg');
    background-position: right 30px bottom 20px;
    background-repeat: no-repeat;
}
.is-popup .is-section-box .is-md-contsbox.type-c .is-desc {
    font-size: 13px;
    color: #333;
    line-height: 20px;
}

.is-popup .is-section-box .is-rt-section {
    width: 400px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.is-popup .is-section-box .is-rt-section .is-col {
    width: 100%;
    height: 200px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
}
.is-popup .is-section-box .is-rt-section .is-col:not(:first-child) {
    margin-top: 20px;
}
.is-popup .is-section-box .is-rt-section .is-col:first-child {
    background: url('../images/is_bg_manager.svg')no-repeat right bottom;
}
.is-popup .is-section-box .is-rt-section .is-col:nth-child(2) {
    background: url('../images/is_bg_manager2.png')no-repeat right bottom;
}
.is-popup .is-section-box .is-rt-section .is-col:last-child {
    background: url('../images/is_bg_manager3.png')no-repeat right bottom;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title {
    background-color: #F3F3F3;
    height: 50px;
    display: flex;
    align-items: center;
    /* gap: 8px; */
    padding: 0 15px;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title h3 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    position: relative;
}
.is-popup .is-section-box .is-list-box .is-col .is-top-title .is-ico {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);
    margin-right: 8px;
}
.is-popup .is-section-box .is-rt-section .is-col:first-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager.svg');
}
.is-popup .is-section-box .is-rt-section .is-col:nth-child(2) .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager2.svg');
}
.is-popup .is-section-box .is-rt-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager3.svg');
}

.is-popup .is-list-style {
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    padding-left: 0;
}
.is-popup .is-list-style li {
    font-size: 13px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-left: 9px;
}
.is-popup .is-list-style li:not(:last-child) {
    padding-bottom:4px;
}
.is-popup .is-list-style li::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.is-popup .is-list-style li span {
    font-weight: 700;
    display: inline-block;
    margin-right: 4px;
    line-height: 20px;
}
.is-popup .is-list-style.type-b li {
    padding-left: 0;
}
.is-popup .is-list-style.type-b li::before {
    display: none;
}
.is-popup .is-list-style.type-b li a {
    color: #0000FF;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: underline;
}
.is-popup .is-list-style.initial li {
    white-space: inherit;
}

.is-popup .is-bottom-area {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.is-popup .is-bottom-area .is-close-btn {
    background-color: #7D8391;
    height: 24px;
    line-height: 22px;
    color: #fff;
    font-size: 13px;
    padding: 0 20px;
    border: 0;
}

.is-popup .is-none-box {
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.is-popup .is-none-box .is-ico {
    display: block;
    background: url('../images/is_ico_info.svg')no-repeat center;
    width: 30px;
    height: 30px;
}
.is-popup .is-none-box .is-desc {
    font-size: 13px;
    color: #333;
    margin-top: 18px;
}

/***  키워드 찾기 ***/
.is-popup .keyword .is-contain-inner{
    display: flex;
    /* gap: 20px; */
}
.is-popup .keyword .is-conts.lf {
    width: calc(100% - 285px - 20px);
}

.is-popup .keyword .is-conts.lf .is-section-box .is-lf-section {
    width: calc(100% - 305px);
}
.is-popup .keyword .is-conts.lf .is-section-box .is-rt-section {
    width: 295px;
}
.is-popup .keyword .is-conts.rt .is-rt-section .is-col:last-child .is-top-title .is-ico {
    background-image: url('../images/is_ico_manager4.svg');
}
.is-popup .keyword .is-conts.rt {
    width: calc(305px - 20px);
    margin-left: 20px;
}
.is-popup .keyword .is-conts.rt .is-title-box {
    border-bottom: 0;
}
.is-popup .keyword .is-conts.rt .is-section-box {
    /*height: calc(100% - 69px - 15px);*/
    height: 656px;
    box-sizing: border-box;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section {
    width: 100%;
    margin-top: 2px;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section .is-col {
    height: 100%;
    background-image: none;
}
.is-popup .keyword .is-conts.rt .is-section-box .is-rt-section .is-md-contsbox.type-b{
    height: calc(100% - 50px - 15px - 15px);
}


.is-popup .is-tree {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding-left: 0;
}
.is-popup .is-tree > li {
    position: relative;
    font-size: 13px;
    color: #333;
    padding-bottom: 10px;
}
.is-popup .is-tree > li:not(:last-child) {
    border-bottom: 1px solid #EFEFEF;
}
.is-popup .is-tree > li:not(:first-child) {
    margin-top: 10px;
}
.is-popup .is-tree > li > a {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    padding-left: 20px;
    display: block;
}
.is-popup .is-tree > li > a::before {
    content: '';
    display: block;
    background: url('../images/is_toggle_m.svg')no-repeat center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s all;
}
.is-popup .is-tree > li.toggle > a::before {
    background-image: url('../images/is_toggle_p.svg');
}
.is-popup .is-subtree {
    padding: 10px 0 0;
}
.is-popup .is-subtree li a {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    position: relative;
    padding-left: 20px;
    display: block;
}
.is-popup .is-subtree li a::before {
    content: '';
    display: block;
    background: url('../images/is_ico_tree.svg')no-repeat center;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 8px;
}


/************************************************* 비밀번호 변경 팝업 *************************************************/
.is-security-popup {
    min-width: 650px;
    max-width: 650px;
    margin: 0 auto;
}
.is-security-popup * { 
    font-family: "Noto Sans KR","Nanum Gothic","나눔고딕","맑은고딕","malgun gothic","AppleGothic","돋움","dotum",sans-serif;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1.12;
}
.is-security-popup ul li {
    list-style: none;
}
.is-security-popup > .is-inner {
    background-color: #DCE8F1;
    position: relative;
}
.is-security-popup > .is-inner::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(0.25turn,#BFD5F5, #BBE2EF);
    width: 100%;
    height: 275px;
}
.is-security-popup .is-contents {
    position: relative;
    padding: 25px 35px;
}

/*타이틀*/
.is-security-popup .is-contents .is-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.is-security-popup .is-contents .is-title h2 {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    letter-spacing: -2px;
}
.is-security-popup .is-contents .is-title .ico {
    display: block;
    background: url('../images/Fss_title_logo.svg')no-repeat center / contain;
    width: 125px;
    height: 117px;
    margin-left: 25px;
}
.is-security-popup .is-contents .is-title .orange {
    font-weight: 700;
    color: #F26600;
}
.is-security-popup .is-contents .is-title .point {
    position: relative;
}
.is-security-popup .is-contents .is-title .point::after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    background-color: #FFC193;
    position: absolute;
    left: 0;
    bottom: 3px;
    z-index: 1;
}
.is-security-popup .is-contents .is-title .point em {
    font-style: normal;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.7;
    color: #0359D6;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.is-security-popup .is-contents .is-title .point em::before {
    content: '';
    display: block;
    background-color: #0359D6;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

/*비밀번호 변경 안내 , 비밀번호 보안 규정*/
.is-security-popup .is-info-box {
    display: flex;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    margin-top: 15px;
    position: relative;
    padding: 10px 0 15px;
}
.is-security-popup .is-info-box::before {
    content: '';
    display: block;
    width: 1px;
    height: calc(100% - 25px);
    background-color: #E2E2E2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.is-security-popup .is-info-box .is-conts {
    flex: 1;
    padding: 0 20px;
}
.is-security-popup .is-info-box .is-conts .is-title-box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-security-popup .is-info-box .is-conts .is-title-box h3 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
}
.is-security-popup .is-info-box .is-conts .is-title-box h3::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.is-security-popup .is-info-box .is-conts.info .is-title-box h3::before {
    background-image: url('../images/Fss_ps_ico_01.svg');
}
.is-security-popup .is-info-box .is-conts.rule .is-title-box h3::before {
    background-image: url('../images/Fss_ps_ico_02.svg');
}
.is-security-popup .is-info-box .is-desc-box {
    margin-top: 10px;
}
.is-security-popup .is-info-box .is-desc-box .desc {
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
}
.is-security-popup .is-info-box .is-desc-box .desc .blue {
    font-weight: 500;
    color: #0359D6;
}
.is-security-popup .is-info-box .is-desc-box .desc .bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #666;
    display: block;
    margin-top: 10px;
}
.is-security-popup .is-info-box .is-desc-box .desc .bold .important {
    font-style: normal;
    font-weight: 700;
    color: #F26600;
}
.is-security-popup .is-info-box .is-conts.rule ul li {
    font-size: 13px;
    color: #666;
}
.is-security-popup .is-info-box .is-conts.rule ul li:not(:first-child){
    padding-top: 6px;
}
.is-security-popup .is-info-box .is-conts.rule ul li::before {
    content: '';
    display: inline-block;
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #D7E5F9;
    border: 1px solid #B8C8DE;
    border-radius: 2px;
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-right: 8px;
}
.is-security-popup .is-info-box .is-conts.rule ul li:nth-child(1):before {
    content: '1';
}
.is-security-popup .is-info-box .is-conts.rule ul li:nth-child(2):before {
    content: '2';
}
.is-security-popup .is-info-box .is-conts.rule ul li:nth-child(3):before {
    content: '3';
}
.is-security-popup .is-info-box .is-conts.rule ul li:nth-child(4):before {
    content: '4';
}
.is-security-popup .is-info-box .is-conts.rule .dsc {
    line-height: 1.4;
    margin-top: 5px;
    color: #666;
}
.is-security-popup .is-info-box .is-conts.rule .point {
    color: #666;
    font-weight: 700;
}
/*비밀번호 수정*/
.is-security-popup .is-modify-box {
    margin-top: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;  
}
.is-security-popup .is-modify-box .is-inner{
    background-color: #fff;
}
.is-security-popup .is-modify-box .is-inner .top{
    background-color: #5F6B86;
    padding: 11px 18px;
}
.is-security-popup .is-modify-box .is-inner .top h3 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}
.is-security-popup .is-modify-box .is-inner .top h3::before {
    content: '';
    display: inline-block;
    background: url('../images/Fss_lock.svg')no-repeat center / contain;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.is-security-popup .is-modify-box .is-inner .body {
    text-align: center;
    padding: 18px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-security-popup .is-modify-box .is-inner .body table {
    border-collapse: collapse;
    text-align: left;
}
.is-security-popup .is-modify-box .is-inner .body table th {
    position: relative;
    padding: 4px 10px 4px 8px;
    text-align: left;
    color: #333;
    font-size: 12px;
}
.is-security-popup .is-modify-box .is-inner .body table th::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #333;
    position: absolute;
    top: 14px;
    left: 0;
}
.is-security-popup .is-modify-box .is-inner .body table td {
    padding: 3px 4px;
    display: flex;
    align-items: center;
}
.is-security-popup .is-modify-box .is-inner .body table td input {
    width: 250px;
    height: 25px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.is-security-popup .is-modify-box .is-inner .is-security {

}
.is-security-popup .is-modify-box .is-inner .is-security .is-sc {
    font-size: 12px;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.is-security-popup .is-modify-box .is-inner .is-security .is-sc::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 4px;
    margin-left: 8px;
}
.is-security-popup .is-modify-box .is-inner .is-security .is-sc.good::before {
    background-image: url('../images/Fss_safety_good.svg');
}
.is-security-popup .is-modify-box .is-inner .is-security .is-sc.normal::before {
    background-image: url('../images/Fss_safety_normal.svg');
}
.is-security-popup .is-modify-box .is-inner .is-security .is-sc.danger::before {
    background-image: url('../images/Fss_safety_danger.svg');
}
.is-security-popup .is-modify-box .is-inner .body .submit-btn {
    width: 140px;
    height: 34px;
    line-height: 34px;
    background-color: #333;
    color: #fff;
    border: 0;
    margin-top: 18px;
    cursor: pointer;
}

.is-security-popup .is-modify-box .bottom {
    background-color: #E8E8E8;
}
.is-security-popup .is-modify-box .bottom .is-security-box {
    padding: 15px 30px;
    display: flex;
    align-items: flex-start;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-title h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-title h4::before {
    content: '';
    display: inline-block;
    background: url('../images/Fss_shield.svg')no-repeat center / contain;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security {
    margin-left: 20px;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security ul li {
    display: flex;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security ul li:not(:first-child) {
    padding-top: 7px;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security .is-sc {
    font-size: 13px;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security .is-sc::before {
    margin-right: 6px;
    margin-left: 0;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security .desc {
    font-size: 12px;
    color: #666;
    margin-left: 6px;
}
.is-security-popup .is-modify-box .bottom .is-security-box .is-security .desc::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #bbb;
    margin-right: 6px;
}