@charset "euc-kr";
.myFolderBox {
	width: 173px;
	height: 550px;
	
}

.myFolderTreeBox {
	position: absolute;
	width: 173px;
	height: 550px;
	padding: 5px;
	margin: 4px;
	border: 0px;
	overflow: auto;
	background-color: #ffffff;
}
.myFolderTree {
	top: 70px;
	left: 22px;
	overflow: hidden;
}